.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compositions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.content {
    display: flex;
    gap: 2rem;
    width: 130rem;
    padding-top: 2rem;
}
